
*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
font-family: Arial, 'Open Sans',sans-serif;
background-color:#ecf0f1;
}

/*  essa é a parte do login */
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding:20px;
}

.content{
    background: #cbe0ed;
    border-radius:15px;
    width:960px;
    max-width:95%;
    height:500px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.content::before{
content:"";
position:absolute;
background:#004aad;
width:40%;
height:100%;
left:0;
border-top-left-radius:15px;
border-bottom-left-radius:15px;
}

/*  essa é a parte dos titulos */

.title{
    font-size: 28px;
    font-weight: bold;
}


.title-primary{
font-size:17px;
color:#fff;
}

.title-second{
color:#004aad;
}

/* parte das descrições */

.description{
    font-size:14px;
    font-weight:300;
    line-height:30px;
}

.description-primary{
    color: #fff
}

.description-second{
    color:#7f8c8d;
}

/* parte que adicionei as edições dos botões */

.btn{
border-radius:15px;
text-transform:uppercase;
color:#fff;
font-size:11px;
padding:10px 40px;
cursor:pointer;
font-weight:bold;
border:none;
margin-top:1rem;
}

.btn-primary{
background:transparent;
border:1px solid #fff;
transition:.5s;
}

.btn-primary:hover{
background:#fff;
color:#004aad;
}

.btn-second{
background:#004aad;
border:1px solid #004aad;
transition:.5s;
}

.btn-second:hover{
background:#fff;
color:#004aad;
}

/* parte das colunas */

.firt-content{
    display:flex;
}


.first-content .second-column{
z-index:11;
}

.first-column{
text-align:center;
width:40%;
z-index:10;
padding:20px;
}

.second-column{
width:60%;
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
}

/*  os form */

.form{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:350px;
}



.form input{
height:45px;
width:100%;
border:none;
background:#ecf0f1;
padding-left:10px;
}

.label-input{
background:#ecf0f1;
display:flex;
align-items:center;
margin:8px 0;
padding:0 5px;
}

.icon-modify{
color:#7f8c8d;
padding:0 5px;
}

.password{
color:#34495e;
font-size:14px;
margin:15px 0;
text-align:center;
}

/* parte do second content */


.second-content{
position:absolute;
display:flex;


}

.second-content .first-column{
order:2;
z-index:-1;
}

.second-content .second-column{
order:1;
z-index:-1;
color:#cbe0ed
}

/* animação */

.sign-in-js .first-content .first-column{
z-index:-1;
}

.sign-in-js .second-content .second-column{
z-index:11;

}

.sign-in-js .second-content .first-column{
z-index:13;
}

.sign-in-js .content::before{
left:60%;
border-top-left-radius:0;
border-bottom-left-radius:0;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
animation:slidein 1.3s;
z-index:12;
}

.sign-up-js .content::before{
animation:slideout 1.3s;
z-index:12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
z-index:-1;
}

.sign-up-js .first-content .second-column{
z-index:11;
}

.sign-up-js .first-content .first-column{
z-index:13;
}

.sign-in-js .first-content .second-column{
z-index:-1;
position:relative;
animation:deslocamentoEsq 1.3s;
}

.sign-up-js .second-content .second-column{
position:relative;
z-index:-1;
animation:deslocamentoDir 1.3s;
}


/* parte do deslocamento que aprendi com o vídeo do youtube */



@keyframes deslocamentoEsq{

from{
left:0;
opacity:1;
z-index:12;
}

25%{
left:-80px;
opacity:.5;
}

50%{
left:-100px;
opacity:.2;
}

to{
left:-110px;
opacity:0;
z-index:-1;
}

}

@keyframes deslocamentoDir{

from{
left:0;
z-index:12;
}

25%{
left:80px;
}

50%{
left:100px;
}

to{
left:110px;
z-index:-1;
}

}

@keyframes slidein{

from{
left:0;
width:40%;
}

25%{
left:5%;
width:50%;
}

50%{
left:25%;
width:60%;
}

75%{
left:45%;
width:50%;
}

to{
left:60%;
width:40%;
}

}

@keyframes slideout{

from{
left:60%;
width:40%;
}

25%{
left:45%;
width:50%;
}

50%{
left:25%;
width:60%;
}

75%{
left:5%;
width:50%;
}

to{
left:0;
width:40%;
}

}

/* logo */

.logo-app{
    width:10em;     
    max-width:72%;
    height:auto;
    margin:0 auto 20px;
    display:block;
}


.logo-appcadastro{
width:100%;
max-width:180px;
height:auto;
margin:0 auto 25px;
display:block;
}

/* parte do cadastro  */


.cadastro-page{
background-image: url("../midias/");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;
}


.container-cadastro{
display:flex;
justify-content:center;
align-items:flex-start;
min-height:100vh;
padding:40px 10px;
}

.btn-voltar{
position:absolute;
top:15px;
left:15px;

background:#004aad;
color:white;

width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;
text-decoration:none;

font-size:18px;

box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:0.3s;
}

.btn-voltar:hover{
background:#00337a;
transform:scale(1.1);
}



.box-cadastro .form{
width:100%;
}